<ctrl ng-controller="RightOptionsCtrl">

	<view class="{{show_rightOptions}}">

		<square ng-click="createOrder()">
			<icon>
				<i class="icon ion-ios-albums p-color"></i>
			</icon>
			<separator class="p-background-color"></separator>
		</square>

		<square ng-click="createScore()">
			<icon>
				<i class="icon ion-stats-bars p-color"></i>
			</icon>
			<separator class="p-background-color"></separator>
		</square>

		<square>
			<icon>
				<i class="icon ion-checkmark-round p-color"></i>
			</icon>
			<separator class="p-background-color"></separator>
		</square>

		<square>
			<icon>
				<i class="icon ion-ios-keypad p-color"></i>
			</icon>
			<separator class="p-background-color"></separator>
		</square>

		<square>
			<icon>
				<i class="icon ion-help p-color"></i>
			</icon>
		</square>		

	</view>

</ctrl>