<ion-modal-view>    
    
	<ion-header-bar class="p-backcolor">

		<h1 class="title p-color-white">İstatistikler</h1>

		<div class="buttons">
                    
            <button class="button button-clear icon ion-android-close header-right-button p-color-white" ng-click="closeModal('stats')"></button>
        
        </div>

	</ion-header-bar>

    <ion-content>    

    	<ion-refresher pulling-text="" on-refresh="refresh()"></ion-refresher>

        <ion-list>
                        
            <ion-item class="item item-avatar">
                <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10338221_10152576853520996_5185319332419852678_n.jpg?oh=1050ca99ab67aecce729b25a462b8393&oe=5623A992&__gda__=1444212935_5bd3e7b096d2e0e3740093c3cadfc9f1" />
                <h2>Erhan Emre Eroğlu</h2>
                <p>Türkiye sizce hükümetsiz ne kadar devam edecek?</p>
                               
            </ion-item>                                
    
        </ion-list>

    </ion-content>

</ion-modal-view>

<style type="text/css">

.item p
    {
        white-space: normal;  
        width: 100%;      
    }

</style>