<ion-modal-view>    
    
    <ion-header-bar class="p-backcolor">

        <h1 class="title p-color-white">Erhan Emre Eroğlu</h1>

        <div class="buttons">
                    
            <button class="button button-clear icon ion-android-close header-right-button p-color-white" ng-click="closeModal('wall')"></button>
        
        </div>

    </ion-header-bar>

    <ion-content class="p-wall">    

        <ion-refresher pulling-text="" on-refresh="refresh()"></ion-refresher>

        <ion-list>

            <ion-item class="card">
                            
                <ion-item class="item item-avatar item-button-right p-wall-item" ng-click="openModal('poll')">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10338221_10152576853520996_5185319332419852678_n.jpg?oh=1050ca99ab67aecce729b25a462b8393&oe=5623A992&__gda__=1444212935_5bd3e7b096d2e0e3740093c3cadfc9f1" />                
                    <p>Türkiye sizce hükümetsiz ne kadar devam edecek?</p>
                    <button class="button button-clear p-color">
                        <i class="icon ion-help"></i>
                    </button>                        
                </ion-item> 

                <ion-item class="item-divider p-wall-divider"> 
                    <div class="row">
                        <div class="col col-33">
                            23 <i class="icon ion-person"></i>
                        </div>
                        <div class="col col-33">
                            20 dk. <i class="icon ion-clock"></i>
                        </div>
                        <div class="col col-33">
                            Takip Et <i class="icon ion-android-star-outline"></i>
                        </div>
                    </div>                          
                </ion-item>

            </ion-item>

            <ion-item class="card">
                            
                <ion-item class="item item-avatar item-button-right p-wall-item" ng-click="openModal('multiSelectPoll')">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10338221_10152576853520996_5185319332419852678_n.jpg?oh=1050ca99ab67aecce729b25a462b8393&oe=5623A992&__gda__=1444212935_5bd3e7b096d2e0e3740093c3cadfc9f1" />                
                    <p>Türkiye sizce hükümetsiz ne kadar devam edecek?</p>
                    <button class="button button-clear p-color">
                        <i class="icon ion-ios-keypad"></i>
                    </button>                        
                </ion-item> 

                <ion-item class="item-divider p-wall-divider"> 
                    <div class="row">
                        <div class="col col-33">
                            23 <i class="icon ion-person"></i>
                        </div>
                        <div class="col col-33">
                            20 dk. <i class="icon ion-clock"></i>
                        </div>
                        <div class="col col-33">
                            Takip Et <i class="icon ion-android-star-outline"></i>
                        </div>
                    </div>                          
                </ion-item>

            </ion-item>        

            <ion-item class="card">

                <ion-item class="item item-avatar item-button-right p-wall-item" ng-click="openModal('yesNoPoll')">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10338221_10152576853520996_5185319332419852678_n.jpg?oh=1050ca99ab67aecce729b25a462b8393&oe=5623A992&__gda__=1444212935_5bd3e7b096d2e0e3740093c3cadfc9f1" />                
                    <p>Türkiye sizce hükümetsiz ne kadar devam edecek?</p>
                    <button class="button button-clear first-button p-color">
                        <i class="icon ion-checkmark-round"></i>
                    </button>                        
                </ion-item> 

                <ion-item class="item-divider p-wall-divider"> 
                    <div class="row">
                        <div class="col col-33">
                            64 <i class="icon ion-person"></i>
                        </div>
                        <div class="col col-33">
                            9 dk. <i class="icon ion-clock"></i>
                        </div>
                        <div class="col col-33">
                            Takip Et <i class="icon ion-android-star-outline"></i>
                        </div>
                    </div>                          
                </ion-item>

            </ion-item>

            <ion-item class="card">

                <ion-item class="item item-avatar item-button-right p-wall-item" ng-click="openModal('poll')">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10338221_10152576853520996_5185319332419852678_n.jpg?oh=1050ca99ab67aecce729b25a462b8393&oe=5623A992&__gda__=1444212935_5bd3e7b096d2e0e3740093c3cadfc9f1" />                
                    <p>Türkiye sizce hükümetsiz ne kadar devam edecek?</p>
                    <button class="button button-clear first-button p-color">
                        <i class="icon ion-stats-bars"></i>
                    </button>                        
                </ion-item>  

                <ion-item class="item-divider p-wall-divider"> 
                    <div class="row">
                        <div class="col col-33">
                            45 <i class="icon ion-person"></i>
                        </div>
                        <div class="col col-33">
                            2 dk. <i class="icon ion-clock"></i>
                        </div>
                        <div class="col col-33">
                            Takip Et <i class="icon ion-android-star-outline"></i>
                        </div>
                    </div>                          
                </ion-item>                                  
    
            </ion-item>                                  

            <ion-item class="card">
                            
                <ion-item class="item item-avatar item-button-right p-wall-item" ng-click="openModal('poll')">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10338221_10152576853520996_5185319332419852678_n.jpg?oh=1050ca99ab67aecce729b25a462b8393&oe=5623A992&__gda__=1444212935_5bd3e7b096d2e0e3740093c3cadfc9f1" />                
                    <p>Türkiye sizce hükümetsiz ne kadar devam edecek?</p>
                    <button class="button button-clear p-color">
                        <i class="icon ion-ios-albums"></i>
                    </button>                        
                </ion-item> 

                <ion-item class="item-divider p-wall-divider"> 
                    <div class="row">
                        <div class="col col-33">
                            23 <i class="icon ion-person"></i>
                        </div>
                        <div class="col col-33">
                            20 dk. <i class="icon ion-clock"></i>
                        </div>
                        <div class="col col-33">
                            Takip Et <i class="icon ion-android-star-outline"></i>
                        </div>
                    </div>                          
                </ion-item>

            </ion-item>

        </ion-list>

    </ion-content>

</ion-modal-view>

<style type="text/css">

.p-wall .card
{
    padding-left: 0px;
    padding-right: 0px;
}

.p-wall .first-button
{    
    color:#F96D2B;
}

.p-wall .second-button
{
    left: 3%;
    color:#F96D2B;
}

.p-wall p
{
    white-space: normal;
}

.p-wall-item
{
    border:none;
}

.p-wall-item i:before
{
    font-size: 30px!important;
    top: 12px;
}

.p-wall-divider
{
    background-color: rgba(253, 191, 162, 0.25);
    border:none;   
    min-height: 40px; 
    padding-top: 0px;
    padding-bottom: 0px;
}

.p-wall-divider .col
{
    color:#6A6A6A;
    text-align: center;
    font-size: 13px;
}

.p-wall-divider .col i:before
{
    color:#F96D2B;
    font-size: 20px;
    position: absolute;
    margin-left: 2%;
}

</style>