<ctrl ng-controller="LandingCtrl">

	<view>

		<ion-content>		

            <ion-refresher on-refresh="refresh()"></ion-refresher>

			<whole class="whole-3">
				<partition class="part-3 part-1-3"></partition>
				<partition class="part-3 part-1-3" ng-click="results()">
					<content>
						<img class="{{stateAvatar}}" src="img/k9.jpg" />				
					</content>
				</partition>
				<partition class="part-3 part-1-3"></partition>
			</whole>

			<whole class="whole-3 {{stateTimeline}}">
				<partition class="part-3 part-1-3" ng-click="timeline(0)">
					<content>
						<img src="img/erkek.jpg" />
						<badge>
							<whole class="whole-3">
								<partition class="part-3 part-1-3 p-background-color">
									<content class="digit">
										5
									</content>
								</partition>
								<partition class="part-3 part-2-3"></partition>
							</whole>
						</badge>
						<text>
							<row>
								<column class="col-1-1">Steve</column>
							</row>
						</text>						
					</content>
				</partition>
				<partition class="part-3 part-1-3" ng-click="timeline(1)">
					<content>
						<img src="img/kiz.jpg" />
						<badge>
							<whole class="whole-3">
								<partition class="part-3 part-1-3"></partition>
								<partition class="part-3 part-1-3 p-background-color">
									<content class="double-digit">
										12
									</content>
								</partition>
								<partition class="part-3 part-1-3"></partition>
							</whole>
						</badge>
						<text>
							<row>
								<column class="col-1-1">Adriana</column>
							</row>
						</text>
					</content>
				</partition>
				<partition class="part-3 part-1-3">
					<content>
						<img src="img/k2.jpg" />
						<badge>
							<whole class="whole-3">
								<partition class="part-3 part-2-3"></partition>
								<partition class="part-3 part-1-3 p-background-color">
									<content class="digit">
										9
									</content>
								</partition>						
							</whole>
						</badge>
						<text>
							<row>
								<column class="col-1-1">Mike</column>
							</row>
						</text>
					</content>
				</partition>
			</whole>                

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/k6.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        4
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Natalie</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/k1.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        1
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Jessie</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/k5.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        13
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Celine</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/k3.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        15
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Fashion</column>
                            </row>
                        </text>                     
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/camera.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        18
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Photography</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/k4.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        7
                                    </content>
                                </partition>                        
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Food</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/film.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        8
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">TV Series</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/alısverıs.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        7
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Shopping</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/book.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        9
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Eğitim</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="img/book.jpg" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        3
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Eğitim</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash2/v/t1.0-9/1002584_10151593399881342_739479926_n.jpg?oh=d9cbc7985f37e94b2cc854e2064f24b3&oe=5642D3D1&__gda__=1446673182_3ca4837c3a498ebda61e753022d28885" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        16
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Kemal</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/11406990_847966728611592_2499528292790602216_n.jpg?oh=2894941296d267268503d9b917009da6&amp;oe=56104241&amp;__gda__=1448309195_6f12c8b3f0fcf508fd8b7090342fe993">
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        2
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Duygu</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11822774_10153475772292365_8842588498863834440_n.jpg?oh=f66bb874a99b446f5a3b61137b5c77fd&oe=5644DDEF" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        6
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Hazal</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11245494_10205677095540357_6688865718135187173_n.jpg?oh=14e0f1b3c89ac98f0f6cbccd1253c068&oe=56827A5C" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        12
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Ömer</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10942583_881241645274237_1649581748216337502_n.jpg?oh=8b2095df2f51a5232e8a766e605fd848&amp;oe=564204AF&amp;__gda__=1447989542_7010ce8de513e5f0176e53522cfda832" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        2
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Survivor</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/408383_10150749935382269_1568515438_n.jpg?oh=241661d7ec755fd2af66b9379eb42aaa&oe=564592DA" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        19
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">BMW</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/525562_10151471087690837_1266720593_n.jpg?oh=231665a5ad61253518a5b7fed1b8d6ea&oe=567EB069&__gda__=1446883942_9370318753b0bc8d0dc606ee6383fa4a" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        11
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Side</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1964779_945461395506125_7748049222308493361_n.jpg?oh=8d1f4c7b0a48aa2aea41cbbb54f50fed&oe=56395130" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        5
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Fazıl</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11150940_10205482163787689_7968975923366647677_n.jpg?oh=a91e7227a8579afdaf1df7bcd6530f7a&oe=5651C0E0" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        1
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Emre</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/10441031_10153179092541827_3314847822643267857_n.jpg?oh=a3090a5f546e607d3e1baa28813be762&oe=56497574&__gda__=1448232118_20fcc4ea0752720fcc094edd67151356" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        10
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Emircan</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/10410804_10152168434297951_6238215855715964810_n.jpg?oh=44d254718d404c10fafa072f3652577e&oe=564D8B6B" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        21
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Sena</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-vie1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11234863_10155573354840297_8373454238543299145_n.jpg?oh=dca1d7191a7fdbb8be9288a28ab47308&amp;oe=5636D65F" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        3
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Sinem</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAPSAAAAJDRlMDM3Y2EzLWUxNmYtNGE0My1hYjVkLTA3ODM2YjI5NWM1ZQ.png" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        17
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">pollop Team</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/311946_2282973611426_660449925_n.jpg?oh=d1049e1c8488f3ce7790fcfd3c6b15cd&oe=5683DE9F&__gda__=1447013334_27829a4a0475e355636f63bcc4b1d24c" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        19
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Deniz</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/522524_10151548673208816_9516848_n.jpg?oh=021a0bad9ac4be72db589fd821b5900b&oe=5646C812" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        6
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">İlayda</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/11377216_10153903115666040_1516732265455128299_n.jpg?oh=d684b80f2f2d4f4db070ccaa7a32b581&oe=568309D1&__gda__=1447997204_17dbb5880facfed55f221f8f42495429" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        1
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Gizem</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/60809_10151800021440115_947258277_n.jpg?oh=b7bbaab2c168c41d82abd045e45c5d6a&oe=567E93BB&__gda__=1450709866_f955601479bea437b6d7d2067c36d86c" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        19
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Feraz</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/11781775_832142843507001_1268993502230583241_n.jpg?oh=3f913abdf686476ecff657d8e412f166&oe=564097D5&__gda__=1447896927_339c2a6ea9a5ced018269e5f6dd65fc5" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        39
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Engin</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1975123_616403548439798_938989174_n.jpg?oh=1219292f9f2f726e61139dc1f03d1474&oe=5638F451" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        13
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Ragıp</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10985034_10153396549014795_2149240551623966012_n.jpg?oh=2b0b768dc309c04ec5546ac284077d2d&oe=5653AE2F&__gda__=1447055690_13ada231b1d0307d78561c2816d09387" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        14
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Gürkan</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

            <whole class="whole-3 {{stateTimeline}}">
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1546177_691157067571499_711837180_n.png?oh=6791b0d88085a32af57b0641390807e9&oe=5644FB00&__gda__=1447415155_a16fdbd0657aa90fc771140b6459d931" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="double-digit">
                                        25
                                    </content>
                                </partition>
                                <partition class="part-3 part-2-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Koç</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10885598_10152930035896462_7236744065932646970_n.jpg?oh=d43fb72bc4adfe3386ea2ffe643cd97e&oe=567D2A1A" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-1-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        6
                                    </content>
                                </partition>
                                <partition class="part-3 part-1-3"></partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Efe</column>
                            </row>
                        </text>
                    </content>
                </partition>
                <partition class="part-3 part-1-3">
                    <content>
                        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/402380_10151318884064603_720967667_n.jpg?oh=07c58a8c4d227c0f5a61f7a1dcb33ddb&oe=56397499&__gda__=1451170222_ad96d6a93aba96ff0abc8b29378121a9" />
                        <badge>
                            <whole class="whole-3">
                                <partition class="part-3 part-2-3"></partition>
                                <partition class="part-3 part-1-3 p-background-color">
                                    <content class="digit">
                                        9
                                    </content>
                                </partition>
                            </whole>
                        </badge>
                        <text>
                            <row>
                                <column class="col-1-1">Berk</column>
                            </row>
                        </text>
                    </content>
                </partition>
            </whole>

		</ion-content>

	</view>

</ctrl>