<ctrl ng-controller="NavCtrl">

	<view class="p-background-color p-z-100">	        

        <row>
            <column class="col-1-5" ng-click="changeSlide(1)">
                <i class="icon p-color-2 ion-planet"></i>
            </column>
            <column class="col-1-5" ng-click="changeSlide(2)">
                <i class="icon p-color-2 ion-chatbox-working"></i>
            </column>
            <column class="col-1-5" ng-click="changeSlide(3)">
                <i class="icon p-color-2 ion-home"></i>
            </column>
            <column class="col-1-5" ng-click="changeSlide(4)">
                <i class="icon p-color-2 ion-android-notifications"></i>
            </column>
            <column class="col-1-5" ng-click="changeSlide(5)">
                <i class="icon p-color-2 ion-search"></i>
            </column>
        </row>

	</view>

</ctrl>