<ion-content class="p-discover">

	<div class="p-width-100">

		<div class="p-col p-two">                                           

            <img src="img/sports.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Spor</h2>

            	<i class="icon ion-android-bicycle"></i>

            </div>
                         
        </div>

		<div class="p-col p-two">                                           

            <img src="img/cars.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Arabalar</h2>

                <i class="icon ion-model-s"></i>

            </div>
                    
        </div>

	</div>

	<div class="p-width-100">

		<div class="p-col p-two">                                           

            <img src="img/fashion.jpg" />                                                               

            <div class="p-mask">
            	
            	<h2>Moda</h2>

                <i class="icon ion-tshirt"></i>

            </div>

        </div>

		<div class="p-col p-two">                                           

            <img src="img/fun.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Eğlence</h2>

            	<i class="icon ion-happy"></i>

            </div>            
                         
        </div>

	</div>

	<div class="p-width-100">

		<div class="p-col p-two">                                           

            <img src="img/health.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Sağlık</h2>

            	<i class="icon ion-ios-medkit"></i>

            </div>
                         
        </div>

		<div class="p-col p-two">                                           

            <img src="img/magazin.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Magazin</h2>

            	<i class="icon ion-ios-camera"></i>

            </div>
                         
        </div>

	</div>

	<div class="p-width-100">

		<div class="p-col p-two">                                           

            <img src="http://media.boomads.com/images/article/312/2014/11/yuksek-teknoloj-20141811034203766.jpg?ver=?ver=qwrBzwTCERz7ru9bXPDNrLmP2Py" />                                                                 

            <div class="p-mask">
            	
            	<h2>Teknoloji</h2>

            	<i class="icon ion-monitor"></i>

            </div>
                         
        </div>

		<div class="p-col p-two">                                           

            <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcQ1Dn6TJ6_DYp6Q5YJAGbFH9OXqq4vIR7T9v4wUHse_GrPTdkFy9g" />                                                                 

            <div class="p-mask">
            	
            	<h2>Alışveriş</h2>

            	<i class="icon ion-bag"></i>

            </div>
                         
        </div>

	</div>

	<div class="p-width-100">

		<div class="p-col p-two">                                           

            <img src="img/gow.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Oyun</h2>

            	<i class="icon ion-ios-game-controller-b"></i>

            </div>
                         
        </div>

		<div class="p-col p-two">                                           

            <img src="http://yumurtaliekmek.com/wp-content/uploads/2015/03/sinema-egitimleri-0403.jpg" />                                                                 

            <div class="p-mask">
            	
            	<h2>Dizi - Film</h2>

            	<i class="icon ion-ios-film"></i>

            </div>
                         
        </div>

	</div>

    <div class="p-width-100">

        <div class="p-col p-two">                                           

            <img src="http://www.jiu.edu/sites/jiu.edu/files/styles/blog_post_full/public/images/blog/celebrate-graduation-day.jpg?itok=DEoJ4TIj" />                                                                 

            <div class="p-mask">
                
                <h2>Eğitim</h2>

                <i class="icon ion-university"></i>

            </div>
                         
        </div>

        <div class="p-col p-two">                                           

            <img src="http://img.haberler.com/haber/501/ekonomi-3-3028501_2826_o.jpg" />                                                                 

            <div class="p-mask">
                
                <h2>Ekonomi</h2>

                <i class="icon ion-cash"></i>

            </div>
                         
        </div>

    </div>

    <div class="p-width-100">

        <div class="p-col p-two">                                           

            <img src="http://media4.onsugar.com/files/2014/02/24/906/n/1922729/af9a0694a71b484e_cooking-woman.jpg.xxxlarge.jpg" />                                                                 

            <div class="p-mask">
                
                <h2>Yemek</h2>

                <i class="icon ion-pizza"></i>

            </div>
                         
        </div>

        <div class="p-col p-two">                                           

            <img src="http://www.macmillandictionaries.com/wp-content/uploads/2011/06/Features_Competition2.png" />                                                                 

            <div class="p-mask">
                
                <h2>Yarışma</h2>

                <i class="icon ion-ribbon-a"></i>

            </div>
                         
        </div>

    </div>

    <div class="p-width-100">

        <div class="p-col p-two">                                           

            <img src="http://www.akustiksanatevi.com/wp-content/uploads/2012/10/gitar1.jpg" />                                                                 

            <div class="p-mask">
                
                <h2>Müzik</h2>

                <i class="icon ion-music-note"></i>

            </div>
                         
        </div>

        <div class="p-col p-two">                                           

            <img src="http://e27.co/wp-content/uploads/2013/03/Travel-signs.jpg" />                                                                 

            <div class="p-mask">
                
                <h2>Gezme</h2>

                <i class="icon ion-android-train"></i>

            </div>
                         
        </div>

    </div>

</ion-content>