<ion-content class="p-notifications">

	<ion-list>

		<ion-item class="item item-button-right p-notification p-background-color-unread">                                    
            <p>Takip ettiğin <b>"Kemal Kılıçdaroğlu gitmeli mi kalmalı mı?"</b> başlıklı anketin sonuçlarına göre, çoğunluk seninle aynı fikirde...</p>
            <button class="button button-clear">
                <i class="icon ion-thumbsup p-color"></i>
            </button>
        </ion-item>

        <ion-item class="item item-button-right p-notification p-background-color-unread">                                    
            <p>Takip ettiğin <b>"Kemal Kılıçdaroğlu gitmeli mi kalmalı mı?"</b> başlıklı anket az önce sonlandı...</p>
            <button class="button button-clear">
                <i class="icon ion-android-checkmark-circle p-color"></i>
            </button>
        </ion-item>

        <ion-item class="item item-button-right p-notification p-background-color-unread">                                    
            <p>Facebook arkadaşın <b>Ekrem Çağrı Köksal</b> da artık pollop'ta...</p>
            <button class="button button-clear">
                <i class="icon ion-social-facebook" style="color:#133783;"></i>
            </button>
        </ion-item>

        <ion-item class="item item-button-right p-notification">                                    
            <p><b>"Türkiye sizce ne kadar hükümetsiz devam edecek?"</b> başlıklı anketin az önce sonlandı...</p>
            <button class="button button-clear">
                <i class="icon ion-android-checkmark-circle"></i>
            </button>
        </ion-item>

        <ion-item class="item item-button-right p-notification">                                    
            <p><b>Sinem Akyol</b> soruyor. <b>"RedBull kanatlandırır mı?"</b></p>
            <button class="button button-clear">
                <i class="icon ion-person"></i>
            </button>
        </ion-item>

        <ion-item class="item item-button-right p-notification">                                    
            <p><b>Duygu Peker</b> arkadaşlık isteğini kabul etti. Hadi <b>Duygu</b>'ya' bir şey sor...</p>
			<button class="button button-clear">
				<i class="icon ion-person-add"></i>
			</button>
        </ion-item>

	</ion-list>

</ion-content>