<ctrl ng-controller="SearchOptionsCtrl">

    <div class="p-search-options p-width-100 p-background-color-light p-text-align-center {{sh_searchOptions}}">

        <div class="p-col p-five"></div>
        <div class="p-col p-five p-color p-border-bottom-color {{searchOptions[0]}}" ng-click="selectOption(0)">Kişi</div>
        <div class="p-col p-five p-color p-border-bottom-color {{searchOptions[1]}}" ng-click="selectOption(1)">Anket</div>
        <div class="p-col p-five p-color p-border-bottom-color {{searchOptions[2]}}" ng-click="selectOption(2)">Sayfa</div>
        <div class="p-col p-five"></div>

    </div>

</ctrl>