mask view.p-show
{
	opacity: 1;
	
}

mask view.p-hide
{
	opacity: 0;
		
}

header view.p-show
{
	opacity: 1;
	-webkit-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
	-moz-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
	-o-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
	-ms-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
}

header view.p-hide
{
	opacity: 0;
	-webkit-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
	-moz-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
	-o-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
	-ms-transition: all 1s 3s cubic-bezier(0.2, 0.9, 0.3, 1);
}

indicator view.p-state-1
{
	left:0%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

indicator view.p-state-2
{
	left:20%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

indicator view.p-state-3
{
	left:40%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);	
}

indicator view.p-state-4
{
	left:60%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

indicator view.p-state-5
{
	left:80%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

settings-button view.p-show
{
	bottom: -50px;
	left: -50px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

settings-button view.p-hide
{
	bottom: -100px;
	left: -100px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

create-button view.p-show
{
	bottom: -50px;
	right: -50px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);	
}

create-button view.p-hide
{
	bottom: -100px;
	right: -100px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

left-options view.p-show
{
	left:0px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

left-options view.p-hide
{
	left:-60px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

options view.p-show
{	
	bottom: 0px;
	-webkit-transition: all 300ms cubic-bezier(0,1,0.5,1);
	-moz-transition: all 300ms cubic-bezier(0,1,0.5,1);
	-o-transition: all 300ms cubic-bezier(0,1,0.5,1);
	-ms-transition: all 300ms cubic-bezier(0,1,0.5,1);
}

options view.p-hide
{	
	bottom: -50px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

options-indicator.p-state-1
{	
	margin-left: 20%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

options-indicator.p-state-2
{	
	margin-left: 40%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

options-indicator.p-state-3
{	
	margin-left: 60%;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

right-options view.p-show
{
	right:0px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

right-options view.p-hide
{
	right:-60px;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);		
}

modal view.p-show
{
	top:0%;
	-webkit-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

modal view.p-hide
{
	top:100%;
	-webkit-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 500ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

popup view.p-show
{
	width: 80%;
	height: 60%;
	left: 10%;
	top:20%;
	opacity: 1;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

popup view.p-hide
{
	width: 0%;
	height: 0%;
	left: 50%;
	top: 50%;
	opacity: 0;
	-webkit-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-moz-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-o-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
	-ms-transition: all 300ms cubic-bezier(0.3, 0.6, 0.5, 0.9);
}

notification view.p-show-small
{	
	height: 40px;
	opacity: 1;
	-webkit-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-moz-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-o-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-ms-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
}

notification view.p-show-medium
{	
	height: 80px;
	opacity: 1;
	-webkit-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-moz-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-o-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-ms-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
}

notification view.p-show-big
{	
	height: 120px;
	opacity: 1;
	-webkit-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-moz-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-o-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-ms-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
}

notification view.p-hide
{	
	height: 0px;
	opacity: 0;	
	-webkit-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-moz-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-o-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
	-ms-transition: all 1s cubic-bezier(0.2, 0.9, 0.3, 1);
}